<%- include('ek/header', {bot, user, path}) %>
<div align="center">
		<a class="navbar-brand"><img src="<%= bot.user.displayAvatarURL %>" width="200" height="200" class="d-inline-block align-top rounded-circle"><br /><font color="black" size=20> <%= bot.user.username %></font></a><br /><br />
</div>